section.cover img {
  height: auto;
  width: 100%;
  max-width: 150px;
}

@media (max-width: 420px) {
  section.cover img {
    max-width: 100px;

  }

  section.cover h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  section.cover blockquote {
    font-size: 1.2rem;
  }
}